<!-- views/partials/cadastroForm.hbs -->
<form class="formulario">
  <input type="text" placeholder="Nome">
  <input type="cpf" placeholder="CNPJ">
  <input type="tel" placeholder="Telefone">
  <input type="text" placeholder="CEP">
  <input type="email" placeholder="Email">
  <input type="password" placeholder="Senha">
  <button class="btn btn-second">Cadastrar</button>
</form>
