<!-- views/partials/cadastroForm.hbs -->
<form class="formulario" action="/cadastrar" method="post">
  <input type="text" id="text" placeholder="Nome">
  <input type="cpf" id="cpf" placeholder="CNPJ">
  <input type="tel" id="tel" placeholder="Telefone">
  <input type="text" id="text" placeholder="CEP">
  <input type="email" id="email" placeholder="Email">
  <input type="password" id="password" placeholder="Senha">
  <button type="submit" class="btn btn-second">Cadastrar</button>
</form>
