<!-- Formulário de cadastro de cliente -->
<form id="registerForm" action="/cliente/cadastrar" method="post" class="needs-validation" novalidate>
    <!-- Formulário com método POST para submeter os dados para a rota de registro -->
    <div class="row mb-3">
        <div class="col-sm-7">
            <label for="cnpj" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" name="cnpj" required placeholder="CNPJ" />
            <div class="invalid-feedback">
                Insira um CNPJ válido.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="razaoSocial" class="form-label">Razão
                Social</label>
            <input type="text" class="form-control" id="razaoSocial" name="razaoSocial" required
                placeholder="Razão Social" />
            <div class="invalid-feedback">
                Insira a razão social.
            </div>
        </div>
        <div class="col">
            <label for="nomeFantasia" class="form-label">Nome
                Fantasia</label>
            <input type="text" class="form-control" id="nomeFantasia" name="nomeFantasia" placeholder="Nome Fantasia" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" required placeholder="CEP" />
            <div class="invalid-feedback">
                Insira um CEP válido.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="logradouro" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="logradouro" name="logradouro" required placeholder="Endereço" />
            <div class="invalid-feedback">
                Insira o endereço.
            </div>
        </div>
        <div class="col-sm-2">
            <label for="numero" class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" required placeholder="Número" />
            <div class="form-check form-check-inline mt-2">
                <input class="form-check-input" type="checkbox" value="" id="semNumero" />
                <label class="form-check-label" for="semNumero">
                    Sem nº
                </label>
            </div>
            <div class="invalid-feedback">
                Insira o número do endereço.
            </div>
        </div>
        <div class="col-sm-5">
            <label for="complemento" class="form-label">Complemento</label>
            <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" required placeholder="Bairro" />
            <div class="invalid-feedback">
                Insira o bairro.
            </div>
        </div>
        <div class="col">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade" required placeholder="Cidade" />
            <div class="invalid-feedback">
                Insira a cidade.
            </div>
        </div>
        <div class="col-sm-2">
            <label for="estado" class="form-label">Estado</label>
            <select class="form-select" id="estado" name="estado" required>
                <option value="" selected disabled>UF</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
            <div class="invalid-feedback">
                Selecione o estado.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required placeholder="E-mail" />
            <div class="invalid-feedback">
                Insira o e-mail.
            </div>
        </div>
        <div class="col-sm-4">
            <label for="telefoneEmpresa" class="form-label">Telefone Empresa</label>
            <input type="text" class="form-control" id="telefoneEmpresa" name="telefoneEmpresa" required
                placeholder="Telefone Empresa" />
            <div class="invalid-feedback">
                Insira o telefone da empresa.
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="responsavel" class="form-label">Nome
                Responsável</label>
            <input type="text" class="form-control" id="responsavel" name="responsavel" required
                placeholder="Nome Responsável" />
            <div class="invalid-feedback">
                Insira o nome do responsável.
            </div>
        </div>
        <div class="col-sm-4">
            <label for="telefoneResponsavel" class="form-label">Telefone Responsável</label>
            <input type="text" class="form-control" id="telefoneResponsavel" name="telefoneResponsavel"
                placeholder="Telefone Responsável" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required placeholder="Senha" />
            <div class="invalid-feedback">
                A senha é obrigatória.
            </div>
        </div>
        <div class="col">
            <label for="confirmarSenha" class="form-label">Confirmar Senha</label>
            <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" required
                placeholder="Confirmar senha" />
            <div class="invalid-feedback">
                Confirme a senha.
            </div>
            <div class="password-mismatch-feedback invalid-feedback">
                As senhas não coincidem.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <!-- Botão de envio do formulário -->
</form>