<!-- Formulário de cadastro de coleta -->
<form id="registerColetaForm" action="/cliente/cadastrar-coleta" method="post" >
    <label for="data">Data:</label>
    <input type="date" id="data" name="data" required><br>

    <label for="hora">Hora:</label>
    <select id="hora" name="hora" required>
    </select>

    <label for="observacao">Observação:</label>
    <textarea id="observacao" name="observacao" placeholder="Informe os materiais e a quantidade a serem coletados." required></textarea><br>

    <button type="submit" class="btn btn-primary">Agendar coleta</button>
    <a href="/cliente" class="btn btn-primary" role="button">Voltar</a>
    
</form>