<form action="" method="post">
  <div class="mb-3">
    <label class="form-label" for="inputEmail">E-mail:</label>
    <input
      required 
      type="email"
      class="form-control"
      name="inputEmail"
      id="inputEmail" 
      placeholder="nome@exemplo.com"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="inputSenha">Senha:</label>
    <input
      required
      type="password"
      class="form-control"
      name="inputSenha"
      id="inputSenha"
    />
  </div>
  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"      
      name="checkLembrar"
      id="lembrar"
    />
    <label class="form-check-label" for="checkLembrar">Lembrar</label>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>