<!-- views/partials/loginForm.hbs -->

<form class="formulario">
  <input type="email" placeholder="Email">
  <input type="password" placeholder="Senha">
  <button class="btn btn-second">Entrar</button>
</form>