<!-- views/partials/loginForm.hbs -->

<form class="formulario">
  <input type="email" placeholder="Email">
  <input type="password" placeholder="Senha">
  <a class="esqueceu-senha" href="#">Esqueci minha senha</a>
  <button class="btn btn-second">sign in</button>
</form>