<!-- Arquivo: views/partials/registerForm.hbs -->

<!-- Formulário de cadastro de cliente -->
<form id="registerForm" action="/register" method="post">
    <div class="row mb-3">
        <div class="col-sm-7">
            <label for="cnpj" class="form-label visually-hidden">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" required placeholder="CNPJ">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="razaoSocial" class="form-label visually-hidden">Razão Social</label>
            <input type="text" class="form-control" id="razaoSocial" required placeholder="Razão Social">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="nomeFantasia" class="form-label visually-hidden">Nome Fantasia</label>
            <input type="text" class="form-control" id="nomeFantasia" required placeholder="Nome Fantasia">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="cep" class="form-label visually-hidden">CEP</label>
            <input type="text" class="form-control" id="cep" required placeholder="CEP">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="logradouro" class="form-label visually-hidden">Endereço</label>
            <input type="text" class="form-control" id="logradouro" required placeholder="Endereço">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="numero" class="form-label visually-hidden">Número</label>
            <input type="text" class="form-control" id="numero" required placeholder="Número">
            <div class="form-check mt-2">
                <input class="form-check-input" type="checkbox" value="" id="semNumero">
                <label class="form-check-label" for="semNumero">
                    Sem número
                </label>
            </div>
        </div>
        <div class="col-sm-5">
            <label for="complemento" class="form-label visually-hidden">Complemento</label>
            <input type="text" class="form-control" id="complemento" placeholder="Complemento">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="bairro" class="form-label visually-hidden">Bairro</label>
            <input type="text" class="form-control" id="bairro" required placeholder="Bairro">
        </div>
        <div class="col">
            <label for="cidade" class="form-label visually-hidden">Cidade</label>
            <input type="text" class="form-control" id="cidade" required placeholder="Cidade">
        </div>
        <div class="col-sm-2">
            <label for="estado" class="form-label visually-hidden">Estado</label>
            <input type="text" class="form-control" id="estado" required placeholder="Estado">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="email" class="form-label visually-hidden">E-mail</label>
            <input type="email" class="form-control" id="email" required placeholder="E-mail">
        </div>
        <div class="col-sm-4">
            <label for="telefoneEmpresa" class="form-label visually-hidden">Telefone Empresa</label>
            <input type="text" class="form-control" id="telefoneEmpresa" required placeholder="Telefone Empresa">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="responsavel" class="form-label visually-hidden">Nome Responsável</label>
            <input type="text" class="form-control" id="responsavel" required placeholder="Nome Responsável">
        </div>
        <div class="col-sm-4">
            <label for="telefoneResponsavel" class="form-label visually-hidden">Telefone Responsável</label>
            <input type="text" class="form-control" id="telefoneResponsavel" required
                placeholder="Telefone Responsável">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <label for="senha" class="form-label visually-hidden">Senha</label>
            <input type="password" class="form-control" id="senha" required placeholder="Senha">
        </div>
        <div class="col">
            <label for="confirmarSenha" class="form-label visually-hidden">Confirmar Senha</label>
            <input type="password" class="form-control" id="confirmarSenha" required placeholder="Confirmar senha">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>