<!-- Container principal da p치gina de cliente -->
<div class="container-fluid">
    <!-- Container da p치gina de cliente -->
    <div class="container">
        <div class="row mb-4">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col align-self-start justify-content-end">
                <a class="btn" href="/auth/logout" role="button">Sair</a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Agendamentos</h5>
                        <p class="card-text">Consultar os agendamentos</p>
                        <a class="btn" href="/admin/agendamentos" role="button">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Usu치rios</h5>
                        <p class="card-text">Consultar os usu치rios</p>
                        <a class="btn" href="/admin/usuarios" role="button">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>