<div class="header">        
    <nav class="navbar navbar-expand-sm py-3 sticky-top">
        <div class="container">
            <a href="" class="navbar-brand d-flex align-items-center">LOGO</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-link">Agendar Coleta</a>
                    <div class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">NomeUsuario</a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a href="#" class="dropdown-item">Perfil</a></li>
                            <li><a href="#" class="dropdown-item">Coletas</a></li>
                            <li><a href="#" class="dropdown-item">Sair</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div> 
        </div>            
    </nav>
</div>

<div class="fundo-fixo">
        <div class="container mt-5">
            <h1 class="text-center mb-4">Agendamento</h1>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tipo de Material</h5>
                            <select id="tipoMaterial" class="form-select">
                                <option value="plastico">Plástico</option>
                                <option value="vidro">Vidro</option>
                                <option value="papel">Papel</option>
                                <option value="metal">Metal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Quantidade de Material (em kg)</h5>
                            <input type="number" id="quantidadeMaterial" class="form-control" min="1">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botões -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="d-flex justify-content-end">
                        <button id="adicionarMaterialBtn" class="btn btn-primary mt-3">Adicionar Material</button>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Selecione uma data</h5>
                            <input type="date" id="datePicker" class="form-control" name="datePicker">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Selecione um horário</h5>
                            <select id="timeSlots" class="form-select"></select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botões -->
            <div class="row mt-">
                <div class="col-md-12">
                    <div class="d-flex justify-content-end">
                        <button id="agendarBtn" class="btn btn-primary mt-3">Agendar</button>
                    </div>
                </div>
            </div>

            <!-- Lista de Materiais Selecionados -->
            <div id="materiaisSelecionados" class="mt-4" style="display: none;">
                <h2 class="text-center">Materiais Selecionados</h2>
                <ul id="listaMateriais" class="lista-materiais"></ul>
            </div>

            <!-- Confirmação de Agendamento -->
            <div id="confirmacao" class="mt-4" style="display: none;">
                <h2 class="text-center">Confirmação de Agendamento</h2>
                <p id="confirmacaoTexto" class="text-center"></p>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/public/assets/js/agendamentoView.js"></script>
    </div>