<!-- Arquivo: views/authView.hbs -->
<!-- Container principal da página de login -->
<div class="container-fluid">
    <div class="container">
        <div class="formulario-login show">
            <h2>Login</h2>
            <form id="formLogin" action="/auth/login" method="post">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <label for="senha" class="form-label">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" required>
                <a href="#" class="switch-link" id="redefinir-link">Esqueceu sua senha?</a>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
             <div class="formulario-redefinicao">
            <h2>Redefinir senha</h2>
            <form id="formRedefinirSenha" action="/auth/redefinir-senha" method="post">
                <label for="emailRedefinicao" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="emailRedefinicao" name="emailRedefinicao" required>
                <a href="#" class="switch-link" id="login-link">Realizar login</a>
                <button type="submit" class="btn btn-primary">Redefinir</button>
            </form>