<!-- Arquivo: views/cadastroClienteView.hbs -->
<!-- Container principal da página de cadastro -->
<div class="container-fluid">
  <!-- Container do formulário de cadastro -->
  <div class="container">
    <h2>Cadastro de Cliente</h2>
    {{> registerColetaForm}}
  </div>

</div>