<div class="container-fluid">
  <div class="container">
    <div class="d-flex justify-content-end mb-4"> <a class="btn btn-primary" href="/auth/logout" role="button">Sair</a>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Perfil</h5>
            <p class="card-text">Editar ou excluir o seu cadastro</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPerfil">
              Acessar
            </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Agendamento</h5>
            <p class="card-text">Agendar uma coleta</p>
            <a class="btn btn-primary" href="/cliente/cadastrar-coleta" role="button">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Histórico</h5>
            <p class="card-text">Histórico de coletas realizadas</p>
            <a class="btn btn-primary" href="/cliente/historico-coleta" role="button">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="modalPerfilLabel">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPerfilLabel">Perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{> formAtualizarCliente}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>