
<!-- Container principal da página de cadastro -->
<div class="container-fluid">
  <!-- Container do formulário de cadastro -->
  <div class="container ">
    <h2 class="text-center">Agendamento de coleta</h2>
    {{> formCadastrarColeta}}
  </div>

</div>