<div class="row">
    <div class="col">
        <h1>Erro</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ error.message }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="javascript:history.back()">Voltar</a>
    </div>
</div>