<div class="container-fluid">
    <div class="container">
        <h1>RecicleAqui</h1>
        <h3>Sistema de gestão de coleta de materiais recicláveis</h3>
        <a class="btn btn-primary" href="/cliente/cadastrar" role="button">Cadastre-se</a>
        <a class="btn btn-primary" href="/auth" role="button">Login</a>
    </div>
</div>