<div class="container">
    <div class="jumbotron text-center mt-5">
        <h1 class="display-3">RecicleAqui</h1>
        <p class="lead">Sistema de gestão de coleta de materiais recicláveis</p>
        <hr class="my-4">
        <a class="btn btn-success btn-lg mr-2" href="/cliente/cadastrar" role="button">Cadastre-se</a>
        <a class="btn btn-success btn-lg" href="/auth" role="button">Login</a>
    </div>
</div>