<!-- views/login.hbs -->

<div class="content second-content">
  <div class="first-column">
    <h2 class="title title-login">Efetuar login</h2>
    <p class="description description-login">Acesso ao sistema</p>
    <button type="button" class="btn btn-link" id="recover">Esqueci minha senha</button>
  </div><!--first column-->

  <div class="second-column">
    
    <!-- Inclusão do formulário de login, definido no arquivo parcial loginform.hbs -->
    {{> loginForm}}
  </div><!--second column-->
</div><!--second content-->

<div class="content first-content">
  <div class="first-column">
    <h2 class="title title-login">Esqueci minha senha</h2>
    <p class="description description-login">Recuperação de senha</p>
    <button type="button" class="btn btn-link" id="login">Efetuar login</button>
  </div><!--first column-->

  <div class="second-column">
    {{> recoverForm}}
  </div><!--second column-->
</div>
<!--first content-->


<!-- Link para o arquivo JS personalizado -->
<script src="./assets/js/login.js"></script>