<!-- views/login.hbs -->

<div class="row">
    <!-- Coluna vazia -->
    <div class="col"></div>
    <!-- Coluna centralizada -->
    <div class="col">
        <!-- Título da página de login -->
        <p class="h1">Login</p>
        <!-- Inclusão do formulário de login, definido no arquivo parcial loginform.hbs -->
        {{> loginForm}}
    </div>
    <!-- Coluna vazia -->
    <div class="col"></div>
</div>
