<!-- views/login.hbs -->

<div class="login-page custom-container">
  <div class="form-container login-form">
    <h2>Login</h2>
    {{>loginForm}}
  </div>
  <div class="form-container recover-form">
    <h2>Recuperar Senha</h2>
    {{>recoverForm}}
  </div>
</div>

<script src="./assets/js/login.js"></script>