<!-- Arquivo: views/register.hbs -->

<!-- Container principal da página de cadastro -->
<div class="register-page custom-container">

    <!-- Container do formulário de cadastro -->
    <div class="form-container register-form">
        <h2>Cadastro de Cliente</h2>
        <!-- Inclusão do partial do formulário de registro -->
        {{> registerForm}}
    </div>

</div>

<!-- Importação do script JavaScript para manipulação da página de cadastro -->
<script src="./assets/js/register.js"></script>