<!-- views/register.hbs -->

<div class="register-page custom-container">
    <div class="form-container register-form">
        <h2>Cadastro de Cliente</h2>
        {{> registerForm}} <!-- Incluindo partial do formulário de registro -->
    </div>
</div>

<script src="./assets/js/register.js"></script>