<div class="container mt-4">
    <div class="row mb-4">
        <div class="col text-center">
            <h2>{{title}}</h2> <!-- Exibe o título da página -->
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <p>Esta é a página de gerenciamento de usuários.</p>
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a class="btn btn-secondary" href="/admin" role="button">Voltar</a> <!-- Botão de voltar -->
        </div>
    </div>
</div>