/* Adiciona a cor #26D07C ao cabeçalho */
.header {
    background-color: #26D07C;
}

/* Adicione as classes personalizadas aqui */
.btn-primary, #adicionarMaterialBtn, #agendarBtn {
    background-color: #26D07C;
    border-color: #26D07C;
    color: #fff;
}

.btn-primary:hover, #adicionarMaterialBtn:hover, #agendarBtn:hover {
    background-color: #fff;
    border-color: #26D07C;
    color: #26D07C;
}

/* Lista de Materiais */
.lista-materiais li {
    margin-left: 10px; /* ou o valor que você preferir */
}


